body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #333;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    margin: 2;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}
.slider-container {
    width: 60%;
    margin: 40px auto;
    position: relative;
}

input[type=radio] {
    display: none;
}

.slides {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
}

.slide {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: 0.7s ease-in-out;
}

.slide img {
    width: 100%;
    border-radius: 25px;

}

#slide1:checked ~ .slides .s1 { opacity: 1; }
#slide2:checked ~ .slides .s2 { opacity: 1; }
#slide3:checked ~ .slides .s3 { opacity: 1; }

.arrows label {
    position: absolute;
    top: 50%;
    font-size: 50px;
    cursor: pointer;
    transform: translateY(-50%);
    user-select: none;
    color: black;
}

.arrows label { display: none; }

#slide1:checked ~ .arrows .left { left: -60px; display: block; }
#slide1:checked ~ .arrows .right { right: -60px; display: block; }

#slide2:checked ~ .arrows .left.s2 { left: -60px; display: block; }
#slide2:checked ~ .arrows .right.s2 { right: -60px; display: block; }

#slide3:checked ~ .arrows .left.s3 { left: -60px; display: block; }
#slide3:checked ~ .arrows .right.s3 { right: -60px; display: block; }

.dots {
    text-align: center;
    margin-top: 0%;
}

.dots label {
    height: 12px;
    width: 12px;
    background: #bbb;
    display: inline-block;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

#slide1:checked ~ .dots label:nth-child(1) { background: #444; }
#slide2:checked ~ .dots label:nth-child(2) { background: #444; }
#slide3:checked ~ .dots label:nth-child(3) { background: #444; }

.content {
    width: 60%;
    margin: 40px auto;
}

.content hr {
    height: 2px;
    background: black;
    border: none;
    margin-bottom: 15px;
}

.content img {
    display: block;
    margin: 0 auto;
    width: 550px;
    height: auto;
}
p a {
    color: #808080;        
    text-decoration: none; 
}

p a:hover {
    text-decoration: underline;
}


